<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% extends 'core/baseCrud.html' %}

{% load static %}


{% block content %}


<div class="top-buffer">
    <form method="post">
        {% csrf_token %}
        
        {{ form_schedule.management_form }}

            {% for ft in form_schedule %}
            <div class="inlineform">
              <br>
              {{ ft }}
             
              
            </div>
          
            {% endfor %}

        <div class="row">
            <button type="submit" class="btn btn-primary">guardar</button>
            

        </div>

    </form>



</div>

{% endblock %}